<link href='https://fonts.googleapis.com/css?family=Orbitron'>

#countdown {
    ffont-family: 'Orbitron', sans-serif;
    background-color: black;
    color: red;
    align-content: center;
    justify-content: center;
}

h1 {

}

#chandler-image {

}

#answer-field {

}

#button {

}

#scorebox {

}

#state-list {

}